<ion-item lines="full" color="secondary">
  <ion-label>
    Describe your business
  </ion-label>
</ion-item>

<ion-item lines="inset">
  <ion-label position="floating"> Business Name </ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item lines="inset">
  <ion-label position="floating">Business Owner Name</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item lines="inset">
  <ion-label position="floating">Business Email</ion-label>
  <ion-input type="email"></ion-input>
</ion-item>
<ion-item lines="inset">
  <ion-label position="floating">Address</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>
<ion-item lines="inset">
    <ion-label position="floating">PIN</ion-label>
    <ion-input type="number"></ion-input>
</ion-item>

<ion-item lines="inset">
  <ion-label position="floating">And Some other Fields</ion-label>
  <ion-input type="number"></ion-input>
</ion-item>
<br>
<br>
<ion-button expand="block" color="success" (click)="save()">Create</ion-button>