<ion-card>
  <ion-item color="secondary" lines="full">
    <ion-label style="text-align: center">Register Yourself Here</ion-label>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">First Name </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Last Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">Alternate Number</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-button expand="block" color="success" (click)="save()">Register</ion-button>
  <br><br>
</ion-card>